<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>开启世界之门的问候语</title>
    <Link href="http://download.easyicon.net/png/1207517/24/" rel="Shortcut Icon">

    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body, html {
            height: 100%;
            background-color: #E8F7EE;
        }

        .container {
            height: 100%;
            background-color: #FFFFFF;
        }
    </style>

</head>

<body>

<div class="container">

    <div class="row">
        <div class="page-header col-sm-8 col-sm-offset-2">
            <h1>备忘小条子
                <small>记录美好生活中的点点滴滴</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img src="http://download.easyicon.net/png/1207212/128/">
            <h3>{{ error }}</h3>
            <p>或许你可以:</p>
            <a href="/">跳转到首页</a>
        </div>
    </div>

</div>

<!-- javascript -->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>